/*
  Grace Jiang
  IntroCS Pd05 Sec08
  HW05 -- Stuylin'
  2021-02-13
*/ 

h1 {
  font-family: Times New Roman;
    color: SteelBlue
}
/* This changes the color of h1 to SteelBlue and the font to Times New Roman*/

h2 {
  font-family: Times New Roman;
    color: Maroon
}
/* This changes the color of h2 to Maroon and the font to Times New Roman */ 

h3 {
  font-family: Times New Roman;
    color: Orange
}
/* This changes the color of h3 to Orange and the font to Times New Roman */

p {
  font-family: "Optima", sans-serif;
   color: DarkSlateGrey;
}
/* This changes the text surrounded by <p> tags to DarkSlateGrey and the font family to "Optima", sans-serif. */

li {
  font-family: "Optima", sans-serif
    color: DarkSlateGrey
}
/* This changes the color of the text surrounded by <li> tags to DarkSlateGrey and the font-family to "Optima", sans-serif. */

body {
  font-size: large;
  background-color: Snow
  border-style: double;
}
/* This changes the font size of the body to large. This changes the background color of the text surrounded by the <body> tags to the color Snow, and the border style is double. */
